<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Assignment Priority Generator</title>
    <meta name="description"
          content="Login or register below to Assignment Priority Generator">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>

<header class="d-flex align-items-center justify-content-evenly
                bg-primary text-white
                p-4 mb-4">

    <img src="/images/icon.png" alt="logo" class="img-fluid">
    <h1 class="fw-bold display-2 text-center">Assignment Priority Generator</h1>

</header>
<main class="login-page d-flex justify-content-center">
    <div class="card login-card p-4 w-75 mb-4 shadow-lg">
        <h1 class="text-center mb-4">Login</h1>
        <form id="login-form">

            <div class="mb-3">
                <label for="login-id" class="form-label">Username</label>
                <input type="text" class="form-control" id="login-id" name="name"
                       placeholder="Enter username" required>
            </div>

            <div class="d-flex justify-content-center">
                <span id="password-error" class="h3 mb-2 text-danger-emphasis fw-semibold"></span>
            </div>

            <div class="mb-3">
                <label for="pass-id" class="form-label">Password</label>
                <input type="password" class="form-control" id="pass-id" name="password"
                       placeholder="Enter password" required>
            </div>

            <button type="button" id="login-button" class="btn btn-primary w-100 mb-2">Login
            </button>
            <button type="button" id="register-button" class="btn btn-secondary w-100 mb-2">Register
            </button>
        </form>


    </div>


</main>
<script src="/js/login.js"></script>
</body>
</html>